.g-2048 {
  --tile-2-bg: #f7f4ef;
  --tile-2-color: #645b52;
  --tile-2-shadow: none;
  --tile-2-font: 40%;

  --tile-4-bg: #ede0c8;
  --tile-4-color: #645b52;
  --tile-4-shadow: none;
  --tile-4-font: 40%;

  --tile-8-bg: #f2b179;
  --tile-8-color: #ffffff;
  --tile-8-shadow: none;
  --tile-8-font: 40%;

  --tile-16-bg: #f59563;
  --tile-16-color: #ffffff;
  --tile-16-shadow: none;
  --tile-16-font: 38%;

  --tile-32-bg: #f67c5f;
  --tile-32-color: #ffffff;
  --tile-32-shadow: none;
  --tile-32-font: 38%;

  --tile-64-bg: #f65e3b;
  --tile-64-color: #ffffff;
  --tile-64-shadow: none;
  --tile-64-font: 38%;

  --tile-128-bg: #edcf72;
  --tile-128-color: #ffffff;
  --tile-128-shadow: 0 0 20px 0 rgba(243, 215, 116, 0.3);
  --tile-128-font: 35%;

  --tile-256-bg: #edcc61;
  --tile-256-color: #ffffff;
  --tile-256-shadow: 0 0 20px 0 rgba(243, 215, 116, 0.4);
  --tile-256-font: 35%;

  --tile-512-bg: #edc850;
  --tile-512-color: #ffffff;
  --tile-512-shadow: 0 0 20px 0 rgba(243, 215, 116, 0.5);
  --tile-512-font: 35%;

  --tile-1024-bg: #edc53f;
  --tile-1024-color: #ffffff;
  --tile-1024-shadow: 0 0 20px 0 rgba(243, 215, 116, 0.6);
  --tile-1024-font: 32%;

  --tile-2048-bg: #edc22e;
  --tile-2048-color: #ffffff;
  --tile-2048-shadow: 0 0 20px 0 rgba(243, 215, 116, 0.7);
  --tile-2048-font: 32%;

  /* 托底样式 */
  --tile-fallback-bg: #1c1c1c;
  --tile-fallback-color: #ffffff;
  --tile-fallback-shadow: 0 0 20px 0 rgba(28, 28, 28, 0.4);
  --tile-fallback-font: 30%;
}
